:root {
  --second-bg-color: #323946;
  --text-shadow: 0 0 5px #3bf0f1, 0 0 15px #3bf0f1, 0 0 25px #3bf0f1;
}

/* Estilos generales para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  z-index: 101;
}

.modal-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--second-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 70%;
  z-index: 102;
}

.modal-image {
  width: 30%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 8px;
  
  
}

.modal-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.modal-text {
  flex: 1;
  text-align: center;
  margin: 0 30px 0 30px;
}

.modal-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.close {
  color: #fff;
  font-size: 3.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.close:hover {
  text-shadow: var(--text-shadow);
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 900px) {
  .modal-container {
    flex-direction: column;
  }

  .modal-image {
    width: 100%;
    max-width: none;
    margin: 30px 0 20px 0;
  }

  .modal-text {
    margin: 0 10px 0 10px;
  }  
}

/* Estilos específicos para pantallas medianas y grandes en modo paisaje */
@media (max-width: 900px) and (orientation: landscape) {
  
  .modal-container {
    flex-direction: row;
  }
  
  .modal-image {
    width: 30%;
    margin: 0;
  }

  .modal-text p {
    font-size: 1.3rem;
    margin: 0;
  }
}